<div class="container-fluid" style="margin-top:30px; margin-left: 20px; margin-right: 20px;">

  <mat-form-field style="width: 90%;" color="accent">
    <mat-label>Filter movies</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter movies" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Title</th>
        <td mat-cell *matCellDef="let movie" style="width: 15%;" matTooltip="{{movie.title}}"> {{movie.title}} </td>
      </ng-container>
      <ng-container matColumnDef="overview">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 60%;"> Overview</th>
        <td mat-cell *matCellDef="let movie" style="width: 60%;"> {{movie.overview}} </td>
      </ng-container>
      <ng-container matColumnDef="backdropPath">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Poster</th>
        <td mat-cell *matCellDef="let movie" >
          <img src="http://image.tmdb.org/t/p/w300/{{movie.backdropPath}}" loading="lazy"
               style="margin-top: 6px">
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef >
        </th>
        <td mat-cell *matCellDef="let movie" >
          <button mat-icon-button color="primary" matTooltip="Create new Show" (click)="createShow(movie)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns; let even = even;" [ngClass]="{gray: even}"></tr>

    </table>

    <mat-paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <br>
</div>
